/*styles.css*/

body {
	background-color:white;
	margin:-21px 0px 0px 0px;
	display: table;
	width: 100%;
	height: 100%
}

a {
	font-family:arial;
	text-decoration:none;
}

main {
	padding: 100px;
}

ul {
	background-color:#2F4F4F;
	text-align:center;	
	padding: 30px 30px;
	margin-bottom:60px;
}

.produit_panier{
	font-family:arial;
    border: 1px solid #ccc;
    margin:0px 10px;
    transition-duration:0.5s;
}

.produit_panier img{
	width: 150px;
    height: 220px;
}

.Produit {
	font-family:arial;
    border: 1px solid #ccc;
    margin:0px 10px;
    transition-duration:0.5s;
}

.Produit:hover {
    border: 1px solid #777;
    margin: 0px 15px;
    background-color: grey;
}

.Produit img {
	margin-top: 15px;
    width: 200px;
    height: 270px;
}

.img_desc{
	max-width: 250px;
}

.detail{
	margin: 0px 184px;
}

#formdetail{
	float: right;
	margin:0px;
}

.ligne_commande{
	margin:20px 0px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
	margin-top:30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@font-face {
	font-family:police_titre;
	src:url(coolvetica.ttf);	
}

.menu, .menu_burger { /*Barre de menus*/
	 background-color:#04398d; 
	 width:100%;
	 height:50px;
	 text-align:center;
	 position:fixed;
	 display: flex;
	 flex-direction:row;
	 justify-content:center;
	 font-family:Verdana;
	 top:0px;
}

@media(max-width:1200px){ /*Affichage des menus en fonction de la largeur de l'écran*/
	.menu{
		display:none;
	}
	
	.menu_burger{
		display:block;
	}
}


.titre_section{ /*Titre des sections*/
	display:inline;
	position:relative;
	font-size:20px;
	min-width:115px;
	padding:0px 10px;
}

.search {
	text-align: left;
	background: rgba(255,255,255,0.7);
	margin: 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px 10px;
 	font-family: verdana;
}

.ctg_nav { /*Nom des catégories*/
	color:white;
	line-height:2.5em;
	text-decoration:none;
	font-size: 16px;
	font-weight: bold ;
	text-transform: uppercase;
}

.ctg_nav_admin{
	color:#ff2020;
	line-height:2.5em;
	text-decoration:none;
	font-size: 15px;
	font-weight: bold ;
	text-transform: uppercase;
}

.ctg_menu_burger{ /*Nom des sections*/
	padding:0px 10px;
	text-decoration:none;
	color:#ecf0f1;
	text-decoration:none;
	font-size: 17px;
	font-weight: bold ;
	text-transform: uppercase;
}

@media(max-width:1200px){ /*Agrandissement du texte des sous-menus*/
	.ctg_menu_burger{
		 font-size: 24px;
	}
}

.ctg_menu_burger:hover{
	color:grey;
}

.titre_section:hover .ctg_nav{
	color:grey;
}

.total{
	float: right;
	font-family: arial;
}

.sous_menu{
	display:none;
	position:absolute;
	background-color:#1C1C1C;
}

.sous_menu_burger{
	display:none;
	position:absolute;
	background-color:#04398d;
	color:#ecf0f1;
	text-align:center;
}

.menu_burger:hover .sous_menu_burger{
	display:flex;
	flex-direction:column;
	align-items:center;
	left:0px;
	width:100%;
	font-size:24px;
}

.titre_section:hover .sous_menu{
	display:flex;
	flex-direction:column;
	align-items:center;
	left:0px;
	width:100%;
}

h1{
	font-family:arial;
	font-size:45px;
	margin-bottom:40px;
	text-align:center;
}

h2 {
	margin:10px 10px;
	text-align:center;
}

h4{
	font-size:38px;
	font-family:arial;
	margin:0px;
}

#logo{ /*Le logo du menu normal*/
width:30px;
height:43px;
}

#logobg{ /*Le logo du menu burger*/
	width:30px;
	height:43px;
}

.logopage{
	width:55px;
	height:75px;
}

@media(max-width:800px){
	h1{
		font-size:28px;
	}

	h4{
		font-size:24px;
	}
}
@media(max-width:1200px){
	h2{
		font-size:20px;
	}

	h1{

		font-size:36px;
	}

}

@media(max-width:800px){

	h2{
		font-size:22px;
	}

}

.bouton {
	padding:10px;
	color:white;
	background-color:#2F4F8A;;
	transition-duration:0.5s;
	cursor:pointer;
}

.bouton_red {
	padding:10px;
	color:white;
	background-color:#cc1515;;
	transition-duration:0.5s;
}

.bouton_panier{
	padding:12px 30px;
	color:white;
	background-color:cornflowerblue;
	transition-duration:0.5s;
	float: right;
	cursor:pointer;
}

.bouton_recherche{
	padding:1px 15px;
	color:white;
	background-color:cornflowerblue;
	transition-duration:0.5s;
	float: right;
	cursor:pointer;
}

.bouton_panier:hover{
	background-color: #10d48b;
}

.bouton_panier_disabled{
	padding:12px 30px;
	color:white;
	background-color:grey;
	transition-duration:0.5s;
	float: right;
}

.bouton:hover{
	background-color:#2F50D5;
}

.bouton_red:hover{
	background-color:#920404;
}

.panel_admin{
	width: 100%;
	height: 60px;
	padding-left: 15px;
	text-align: center;
}

.panel_admin>a{
	margin:-7px 10px;
}

#infos_prix_stock{
	margin-top:25px;
	text-align: right;
}


#prix_desc{
font-size: 28px;
}

.div_center{
	margin-top:50px;
	text-align: center;
}


article {
	padding: 0px 50px;
}

form {	

	text-align:left;
	background:rgba(255,255,255,0.7);
	margin:0px 250px;	
	padding:15px 15px;	
	font-family:verdana;
}

.div_cb{
	margin-bottom:20px;
	text-align: center;
	background-color: cadetblue;
	padding:10px;
}

.submit_btn{

	padding:10px;
	color:white;
	background-color:#2F4F8A;;
	transition-duration:0.5s;
	border:0px;
	cursor: pointer;
}

.submit_btn:hover{
	background-color:#2F50D5;
}

input {
	margin: 10px 30px 10px 0px;
}

textarea{
	height:70px;
	width:700px;
}

@media(max-width:1200px){ /*Taille des images et des textes en fonction de la largeur de l'écran */
		textarea, select{ 
           width:75%;
	}
	
	.bouton{
			font-size:16px;
	}
}

p{
	font-family:calibri;
	font-size:20px;
}

.prix{
	color:lightseagreen;
	font-size:16px;
}
footer {
	background-color:#1C1C1C;
}

footer>div{
	background-color:#04398d;
	padding:2% 0% 2% 40%;
	color:white;
	display:flex;
}

#form_update_create{
	margin:0px;
	text-align: left;
	background-color: #dcdcdc;
	height: 330px;

}

.icon{
	width:40px;
	height: 40px;
}

.social-icons{
	padding-top: 20px;
	margin-left: 55px;
}